/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_1/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_2/dist/